.cont{
    text-align: center;
    h1{
        color: deepskyblue;
    }
    figcaption{
        //text-align: left;
        margin:30px 0 20px;
    }
    code{
        background-color:#ededed;
        padding:0 5px;
        vertical-align: middle;
    }
}
.bg{
    background: url('./img/example2.jpg') no-repeat center;
    height:240px;
}
