<div class="{{css.cont}}">
    <h1>hello world</h1>
    <figure>
        <figcaption>The following is <code>img</code> tag:</figcaption>
        <img src="{{img.example}}" />
    </figure>
    <figure>
        <figcaption>Here is <code>background-image</code>:</figcaption>
        <div class="{{css.bg}}"></div>
    </figure>
</div>